@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
   --primary-color: #f6d6e1;
   --accent-color: #161729;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;
}

body {
   min-height: 100vh;
   background: var(--primary-color);
}

.container {
   width: 100%;
   display: grid;
   grid-template-columns: 50% 50%;
}

.left-bg-sakura {
   background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("assets/images/sakura-view.jpg") no-repeat center;
   min-height: 100vh;
   background-size: cover;
}

.weather-content {
   padding: 5em;
   width: 100%;
}

.form-weather {
   width: 100%;
   display: flex;
   gap: 20px;
}

input[type="search"] {
   border-style: none;
   width: 100%;
   height: 50px;
   border-radius: 50px;
   padding-inline: 30px;
   font-size: 16px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
}

input[type="search"]:focus {
   outline: 1px solid var(--accent-color);
}

.button-search {
   height: 50px;
   width: 55px;
   border-radius: 50%;
   border-style: none;
   background: #fff;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   cursor: pointer;
}

.search-icon {
   color: var(--accent-color);
   width: 20px;
   height: 20px;
}

.weather-icon {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: 5em;
}

.sun-icon {
   width: 150px;
   height: 150px;
   color: var(--accent-color);
}

.weather-degrees .degree,
.city {
   font-size: 50px;
   font-weight: 900;
   text-align: center;
}
.degree{
    display: flex;
    align-items: center;
    justify-content: center;
}
.city {
   font-weight: 500;
}

.thermometer-icon {
   width: 50px;
   height: 50px;
   color: var(--accent-color);
}
.wind-icon, .cloud-icon{
    width: 40px;
    height: 40px;
    color: var(--accent-color);
}

.weather-wind{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5rem;
    position: relative;
}
.cloud-drizzle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    gap: 10px;
}
.wind-speed{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: relative;
    gap: 10px;
    width: 20%;
}

.humidity{
    position: absolute;
    bottom: -30px;
    left: 0px;
    font-size: 20px;
}

.wind-speed .speed{
    position: absolute;
    bottom: -30px;
    right: 20px;
    font-size: 20px;
}